<h2>Detalles del Usuario</h2>

<div class="ticket">
  <div class="ticket-item">
    <span class="label">Usuario:</span> <span class="value"><%= @user.username %></span>
  </div>
  <div class="ticket-item">
    <span class="label">Correo:</span> <span class="value"><%= @user.email %></span>
  </div>
  <div class="ticket-item">
    <span class="label">Teléfono:</span> <span class="value"><%= @user.phone %></span>
  </div>
  </div>
</div>